.component{
    display: inline-block;
    width: 450px;
    margin: 5px;
    overflow: auto;
}
img{
    max-width: 100%;
}
.id{}
.location{}
.name{
    text-align: center;
    text-transform: uppercase;
    color: blueviolet;
}